<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>➕ Cadastrar Produto</h1>

<form method="POST">

    <label>Nome do Produto</label>
    <input type="text" name="nome" required>

    <label>Preço</label>
    <input type="number" step="0.01" name="preco" required>

    <label>Estoque</label>
    <input type="number" name="estoque" required>

    <button type="submit">Salvar Produto</button>

</form>

<br>
<a class="btn" href="/produtos">Ver Produtos</a>

</body>
</html>
