<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>VN Instruments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎸 VN Instruments</h1>
    <p>Sistema administrativo de instrumentos musicais</p>

    <div class="menu">
        <a href="/dashboard">Dashboard</a>
        <a href="/produtos">Produtos</a>
        <a href="/cadastrar">Cadastrar Produto</a>
    </div>
</div>

</body>
</html>
