<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="login-page">

<div class="login-box">

    <h1>VN Instruments</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">

        <input type="email"
        name="email"
        placeholder="Email">

        <input type="password"
        name="senha"
        placeholder="Senha">

        <button type="submit">
            Entrar
        </button>

    </form>

</div>

</body>
</html>